* {margin: 10px; }
h1 {color:blueviolet}
p span {color:gold}
.destacada {color:coral}
.fila {font-weight: bold;}
.aviso {background-color: blue;}
#gato{font-style: italic;}
#perro{margin-top: 50px;}
#tortuga{padding: 1em 2em 3em 4em;}
.imagen{padding: 1em 1em 1em 1em ; border-width: 10px; border-color: blue;}

/*pruebo forulario*/
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
